* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 20px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  margin-right: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  border: 0;
  outline: 0;
  background: none;
  flex: 1;
  padding: 10px;
  font-weight: 14px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background-color: #ff5945;
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
  font-weight: 16px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-position: center;
  background-size: cover;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background: url(images/checked.png);
  background-size: cover;
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  color: #555;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
}

ul li span:hover {
  background-color: #edeef0;
  border-radius: 50%;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .todo-app {
    width: 90%;
  }

  input {
    padding: 1px;
    font-size: 10px;
  }

  button {
    padding: 10px 20px;
    font-size: 10px;
  }
}
